@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin: auto;
  width: 3rem;
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 4rem;
  }
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #0f1115;
  min-height: 100svh;
  color: white;
}

.max-container {
  @apply mx-auto max-w-screen-xl z-10;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bold-90 {
  @apply font-bold text-[90px];
}

.button {
  @apply w-48 h-14 flex justify-center items-center rounded-full;
}

.pill {
  @apply px-4 py-1 text-base border rounded-full leading-none list-none;
}

.pl-ent {
  color: #7ee787;
}
.pl-e,
.pl-en {
  color: #d2a8ff;
}
.pl-s {
  color: #a5d6ff;
}
.pl-s1 {
  color: #fff;
}
.pl-k {
  color: #ff7b72;
}

.pl-c1 {
  color: #79c0ff;
}

.pl-o {
  color: #ef9e52;
}

.slider-item {
  width: 96px;
  height: 96px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply bg-darkgray-200 shadow-md;
}

.slider {
  height: 128px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider::before,
.slider::after {
  background: rgb(15, 17, 21);
  background: linear-gradient(
    90deg,
    rgba(15, 17, 21, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: -1px;
  top: 0;
  transform: rotateZ(180deg);
}

.slider-track {
  display: flex;
  width: 100%;
  gap: 56px;
  animation: scroll 40s linear infinite;
}

.slider-track-2 {
  display: flex;
  width: 100%;
  gap: 56px;
  animation: scroll 40s linear infinite;
  animation-direction: reverse;
}

@media screen and (min-width: 1024px) {
  .slider-item {
    width: 128px;
    height: 128px;
  }
  .slider-track {
    gap: 128px;
  }

  .slider-track-2 {
    gap: 128px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-128px * 5));
  }
}

body {
  min-height: 200vh;
}

@keyframes falling {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
    filter: blur(0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
.animate {
  animation-name: falling;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
